@font-face {
	font-family: 'Dosis', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''), url('../fonts/playfair-display.woff2') format('woff2');
	src: local(''), url('../fonts/Dosis-VariableFont_wght.ttf') format('ttf');
}
